.art-color-underlay {

  background: #432e59;
  width: 100vw;
  height: 100vh;
  position: fixed;
}
/* .pswp-thumbnail {
  display: inline-block;
  margin: 10px;
  cursor: pointer;

}
.pswp-thumbnail > img {
  width: 350px;
  height:100%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}
div.pswp-thumbnails {
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
} */

.background-color {
  /* margin-top: -150px; */
  /* padding-top: 1500px; */
  /* z-index: -10; */
  /* display: absolute; */
  /* position: fixed; */
  /* background: #1c1820; */
  /* min-width: 100vw; */
  /* min-height: 120vh; */
  width: 100vw;
  height: 100vh;
  background: #1c1820;
  z-index: -10000;
  position: fixed;
}



.etsy-button {
  margin-left: 50px;
  margin-top: 80px;
  background: purple;
}

/* @media (max-width: 831px) {
  .pswp-thumbnail > img {
    width: 100%;
  }
} */

/* @media (max-width: 767.98px) {
  .pswp-thumbnail > img {

  }
} */

/* @media (max-width: 575.98px) {
  .pswp-thumbnail > img {
    width: 100%;
  }


  div.pswp-thumbnails {
    padding-left: 0px;
    padding-right: 0px;
  }

} */