.art-color-underlay {
  background: #432e59;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.background-color {
  width: 100vw;
  height: 100vh;
  background: #1c1820;
  z-index: -10000;
  position: fixed;
}

body {
  background: unset;
}

@media (max-width: 767.98px) {
  body {
    background: #1c1820;
  }
}

.etsy-button {
  margin-top: 50px;
}