
* {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,PingFang SC,Source Han Sans CN,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.player-container .info-and-control {
  width: 100%;
  height: 60px;
  background: palegreen;
  position: fixed;
  bottom: 0;
}
/* .music-info {
  position: relative;
  top: -12px;
} */
/* .player-container .info-and-control .music-info .title {
  color: #030303;
  font-size: 14px;
} */
/* .player-container .info-and-control .music-info .artist {
  color: #4a4a4a;
  font-size: 14px;
} */
/* .player-container .info-and-control .time-and-volume {
  color: #9b9b9b;
  display: inline-block;
} */
.player-container .info-and-control .progress-container {
  width: 100%;
  height: 3px;
  background-color: #dadada;
  cursor: pointer;
}
/* .player-container .info-and-control .progress-container .progress {
  height: 100%;
} */
/* .player-container .info-and-control .control-container {
  position: relative;
  width: 100%;
  margin-top: 1.3em;
  justify-content: center;
  font-size: 14px;
} */
