.music-page-container {
  overflow-x: hidden;
}

.background {
  background: url("../assets/images/celine-portrait.png")no-repeat 50% 50%;
  background-size: cover;
  background-position: center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  min-height: 700px;
  height: 92vh;
}

.album-title, .video-title {
  font-size: 44px;
  padding-bottom: 13px;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.video
,.album
 {
  width: 260px;
  /* padding-top: 10vh; */
}

.rectangle {
  position: relative;
  display: inline-block;
  background-color: rgb(85, 170, 160);
  width: 8px;
  height: 35px;
  right: 25px;
  top: 3px;
}

.title-container-1 {
  margin-top: 5.5vh;
}

.title-container-2 {
  margin-top: 9.2vh;
}

.title-container-1, .title-container-2 {
  min-width: 320px;
}

.title-container-1, .title-container-2, .album-title, .video-title {
  display: inline-block;

}

