.reel-box {
  height: 100%;
  width: 191.5%;
  background: #71bcc2;
  position: absolute;
  display: block;
  left: -50%;
}
.reel {
  margin-top: 20px;
  margin-bottom: 20px;
}
.acting-color-underlay{
  width: 100vw;
  height: 100vh;
  background: #3e788e;
  z-index: -10000;
  position: fixed;
}