.reel-box {
  height: 100%;
  width: 191.5%;
  background: #71bcc2;
  position: absolute;
  display: block;
  left: -50%;
}
.reel {
  margin-top: 20px;
  margin-bottom: 20px;
}
.acting-color-underlay{
  width: 100vw;
  height: 100vh;
  background: #3e788e;
  z-index: -10000;
  position: fixed;
}

#bio-button {
  position: absolute;
  right: 0;
  top: 20%;
  transform: translateX(50%);
  height: 55px;
  width: 55px;
  border-radius: 100px;
  background: #6d3e8e;
  border: 0px;
}

#bio-button:hover {
  background: #714d8b;
}

/* .acting-container {
  overflow-x: hidden;
  width: 100vw;
} */

body {
  overflow-x: scroll;
}

@media (max-width: 767.98px) {
  body {
    background: #3e788e;
    overflow-x: hidden;
  }
}