@font-face {
  font-family: Greycliff-Medium;
  src: url('assets/fonts/GreycliffCF-Medium.ttf');
}

@font-face {
  font-family: Greycliff-Regular;
  src: url('assets/fonts/GreycliffCF-Regular.ttf');
}

body {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
